/* this part is supposed to set a general theme for page */

* {
    background-color: #370e5f;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: #cfaa1b;
    text-decoration: none;
}

.Title {
    padding: 20px 35px;
    border:  #bdb333;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    display: flex;
}

ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    border: solid 2px cyan;
    margin: 0 0.5em;
}


article {
    margin: #ffffff;
    border: #5ff51c;
}

.hero {
    background-image: url(./hero.png);
    background-size: cover;
    position: relative;
}